<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-inline">
        <fieldset class="form-group col-sm-11"></fieldset>
        <fieldset class="form-group col-sm-11">
          <a class="btn btn-primary" [routerLink]="['/productos/agregar']">Nuevo producto</a>
        </fieldset>
      </form>
      <br>
      <div class="row">
        <div *ngFor="let producto of productos | async" class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text">{{ producto.detalle }}</p>
              <p class="card-text">{{ producto.precio }}</p>
              <a class="btn btn-info" [routerLink]="['/productos/editar/', producto.idProducto]">Editar</a>
              <a class="btn btn-danger" (click)="borrarProducto(producto.idProducto)">Borrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
