<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="producto.nombre" name="nombre">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="detalle">Detalle</label>
            <input type="text" class="form-control" required [(ngModel)]="producto.detalle" name="detalle">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="precio">Precio</label>
            <input type="number" class="form-control" required [(ngModel)]="producto.precio" name="precio">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!productoForm.form.valid">ENVIAR</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
  